<div class="container">
<header class="clearfix">
	<h1>Mushrooms</h1>	
	<input type="textfield" ng-model="query" />
</header>	
<div class="main">
	
	<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
		<div ng-controller="MushroomListCtrl">
			<ul>
			
				<li ng-repeat="mushroom in mushrooms | filter:query">
				<a href="#/mushrooms/{{mushroom.id}}" class="thumb"><img ng-src="{{mushroom.picture_file_name}}"></a>
				<h3 class="cbp-vm-title">
					{{mushroom.variety}}<br />					
				</h3>
				<div class="cbp-vm-details">
					{{mushroom.latin_name}}
				<div>
				<div class="cbp-vm-details">
					{{mushroom.difficulty}}
				<div>
				<div class="cbp-vm-details">
					{{mushroom.description}}
				</div>

				</li>
			</ul>
		</div>
		<ul>
		<% @mushrooms.each do |mushroom| %>
			<li>
				
				<a class="cbp-vm-image" href="#"><%= image_tag mushroom.picture.url(:thumb) %></a>
				<h3 class="cbp-vm-title">
					<%= mushroom.variety %><br />					
				</h3>
				<div class="cbp-vm-details">
					<%= mushroom.latin_name %>
				<div>
				<div class="cbp-vm-details">
					<%= mushroom.difficulty %>
				<div>
				<div class="cbp-vm-details">
					<%= mushroom.description.truncate(100) %>
				</div>
				<div>
					<%= link_to 'Show', mushroom, {:class=>"cbp-vm-icon cbp-vm-add"}%>
					<%= link_to 'Edit', edit_mushroom_path(mushroom), {:class=>"cbp-vm-icon cbp-vm-add"} %>
					<%= link_to 'Destroy', mushroom, {:class => "cbp-vm-icon cbp-vm-add"}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div><!-- /main -->
</div><!-- /container -->

<br />

<%= link_to 'New Mushroom', new_mushroom_path %>
