<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :variety, { :class => (@plant.variety ? "existingInput" : "newInputField"), :value => @plant.variety || "Common Name/Variety"} %>
  </div>
  <div class="field">
    <%= f.text_field :latin_name, { :class => (@plant.latin_name ? "existingInput" : "newInputField"), :value => @plant.latin_name || "Latin name"} %>
  </div>
   <div class="field">
    <%= f.text_field :description, { :class => (@plant.description ? "existingInput" : "newInputField"), :value => @plant.description || "Description"} %>
  </div>
  <div class="field">
    <%= f.number_field :minDaysToGerm, { :class => (@plant.minDaysToGerm ? "existingInput" : "newInputField"), :value => @plant.minDaysToGerm || "Minimum germination Days"} %>
  </div>
  <div class="field">
    <%= f.number_field :maxDaysToGerm, { :class => (@plant.maxDaysToGerm ? "existingInput" : "newInputField"), :value => @plant.maxDaysToGerm || "Maximum germination Days"} %>
  </div>
  <div class="field">
    <%= f.number_field :minDaysToMaturity, { :class => (@plant.minDaysToMaturity ? "existingInput" : "newInputField"), :value => @plant.minDaysToMaturity || "Minimum days to maturity"} %>
  </div>
  <div class="field">
    <%= f.number_field :maxDaysToMaturity, { :class => (@plant.maxDaysToMaturity ? "existingInput" : "newInputField"), :value => @plant.maxDaysToMaturity || "Maximum days to maturity"} %>
  </div>
  <div class="field">
    <%= f.number_field :days_til_pollination, { :class => (@plant.days_til_pollination ? "existingInput" : "newInputField"), :value => @plant.days_til_pollination || "Days til pollination"} %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
