<%= form_for(@plant) do |f| %>
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% @plant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name<br />
    <%= f.text_field :variety %>
  </div>
  <div class="field">
    Latin Name<br />
    <%= f.text_field :latin_name %>
  </div>
  <div class="field">
    Min Days To Germination<br />
    <%= f.number_field :minDaysToGerm %>
  </div>
  <div class="field">
    Max Days To Germination<br />
    <%= f.number_field :maxDaysToGerm %>
  </div>
  <div class="field">
    Min Days To Maturity<br />
    <%= f.number_field :minDaysToMaturity %>
  </div>
  <div class="field">
    Max Days To Maturity<br />
    <%= f.number_field :maxDaysToMaturity %>
  </div>
  <div class="field">
    Days Til Pollination<br />
    <%= f.number_field :days_til_pollination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
