<header class="clearfix">
	<h1>Plants</h1>	
</header>	


<div class="main">
	<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
		<ul>
		<% @plants.each do |plant| %>
			<li>
				
				<a class="cbp-vm-image" href="#"><%= image_tag plant.picture.url(:thumb) %></a>
				<h3 class="cbp-vm-title">
					<%= plant.variety %><br />
					
				</h3>
				<div class="cbp-vm-details">
					<%= plant.latin_name %>
				<div>
				<div class="cbp-vm-details">
					<%= plant.minDaysToGerm %> - 
					<%= plant.maxDaysToGerm %>
				<div>
				<div class="cbp-vm-details">
					<%= plant.description.truncate(100) %>
				</div>
				<div>
					<%= link_to 'Show', mushroom, {:class=>"cbp-vm-icon cbp-vm-add"}%>
					<%= link_to 'Edit', edit_mushroom_path(mushroom), {:class=>"cbp-vm-icon cbp-vm-add"} %>
					<%= link_to 'Destroy', mushroom, {:class => "cbp-vm-icon cbp-vm-add"}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</div>
			</li>
		<% end %>
		</ul>
	</div>
</div><!-- /main -->

<table>
  <tr>
    <th>Variety</th>
	<th>Latin Name</th>
	<th>Description</th>
    <th>Min Days To Germination</th>
    <th>Max Days To Germination</th>
    <th>Min Days To Maturity</th>
    <th>Max Days To Maturity</th>
	<th>Days Til Pollination</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plants.each do |plant| %>
  <tr>
    <td><%= plant.variety %></td>
	<td><%= plant.latin_name %></td>
	<td><%= plant.description %></td>
    <td><%= plant.minDaysToGerm %></td>
    <td><%= plant.maxDaysToGerm %></td>
    <td><%= plant.minDaysToMaturity %></td>
    <td><%= plant.maxDaysToMaturity %></td>
	<td><%= plant.days_til_pollination %></td>
    <td><%= link_to 'Show', plant %></td>
    <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
    <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plant', new_plant_path %>
