<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @plant.variety %>
</p>

<p>
  <b>Name:</b>
  <%= @plant.latin_name %>
</p>

<p>
  <b>Name:</b>
  <%= @plant.description %>
</p>

<p>
  <b>Min days to germination:</b>
  <%= @plant.minDaysToGerm %>
</p>

<p>
  <b>Max days to germination:</b>
  <%= @plant.maxDaysToGerm %>
</p>

<p>
  <b>Min Days to Maturity:</b>
  <%= @plant.minDaysToMaturity %>
</p>

<p>
  <b>Max Days to Maturity:</b>
  <%= @plant.maxDaysToMaturity %>
</p>

<p>
  <b>Days til Pollination:</b>
  <%= @plant.days_til_pollination %>
</p>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
