<!DOCTYPE html>
<html>
<head>
  <title>GardenVarietyGrowStats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <% stylesheet_link_tag "default.css" %>
  <% stylesheet_link_tag "component.css" %>
  <% javascript_include_tag "modernizr.custom.js" %>
  
  <% javascript_include_tag "classie.js" %>
  <% javascript_include_tag "cbpViewModeSwitch.js" %>
</head>
<body>

<%= render_navigation %>
<%= yield %>

</body>
</html>
